# Disable sudo to speed up the build
sudo: false

# Set the build language to Python
language: python

# Set the python version to 3.6
python: 3.6

# Install the codecov pip dependency
install:
  - pip install -r requirement.txt

# Run the unit test
script:
  - py.test -v --cov=app --cov=common --cov-report xml --cov-report html

# Push the results back to codecov
after_success:
  - htmlcov
